<h2>Filter by Area</h2>
<form action="/land/area/rock_area" method="POST">
  <li><select name="area_name">
    {{#each area}}
      <option value="{{this.area_name}}">{{this.area_name}}</option>
    {{/each}}
  </select></li>
  <button>Szukaj</button>
</form>


