<div class="list-wrapper">
  {{#each rock}}
    <li>{{this.rock_name}}</li>
  {{/each}}
</div>
<h2>Filter by Rock</h2>
<form action="/land/area/rock_area/rock/climbing_route" method="POST">
  <span>
    <label><select name="rock_area_name">
      {{#each rock}}
        <option value="{{this.rock_name}}">{{this.rock_name}}</option>
      {{/each}}
    </select></label>
    <button type="submit">Szukaj</button>
  </span>
</form>


