<form action="/rock/rock_area" method="POST">
  <label for="">
    <select name="name">
      <option value="">Brak</option>
      {{#each rockArea}}
        <option value="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </select>
  </label>
  <button>Szukaj</button>
</form>
